/* 3XL */
.contenedor-mediano {
  max-width: 768px;
  margin: 2em auto;
  border-radius: 10px;
  padding: 1.5em;
}
/*4XL*/
.contenedor-grande {
  max-width: 896px;
  margin: 2em auto;
  border-radius: 10px;
  padding: 1.5em;
}
/* 5XL */
.contenedor-extra-grande {
  max-width: 1024px;
  margin: 2em auto;
  border-radius: 10px;
  padding: 1.5em;
}