.table-contenedor {
  display: grid;
  margin-bottom: 1.5rem;
  gap: 1.5rem;
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: #111827;
}

.form-input {
  display: block;
  padding: 0.625rem;
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: #D1D5DB;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #111827;
  background-color: #F9FAFB;
}

.btn-contenedor {
  display: flex;
  justify-content: space-evenly;
}