<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/header.css" type="text/css">
    <link rel="stylesheet" href="/css/form.css" type="text/css">
    <link rel="stylesheet" href="/css/contenedores.css" type="text/css">
</head>
<body style="background-image: url(/backgroundAvisBudget.png); background-repeat: no-repeat;
  background-size: cover; ">

<header>
    <div class="logo-contenedor">
        <img class="logo"
             src="https://www.budgetstt.com/images/logos/logo-02-budget-rent-a-car-st-thomas-coolestcarib.png"
             alt="logo-budget">
    </div>
</header>

<main class="d-flex flex-column justify-content-center" style="height:90vh;">
    <h1 class="text-center text-light fw-bold" style="font-size:4em">Budget Rent a car</h1>
    <h5 class="text-center text-light">Grupo 4</h5>
    <section style="min-height:250px; padding:6em 0;" class="contenedor-cristal container mx-auto rounded-3 row">
        <span class="col-2"></span>

        <div class="col-4 text-center d-grid">
            <button
                    class="text-center btn btn-primary btn-lg fw-bold"
                    onclick="window.location.href='/clientes/inicioClientes'">
                Vista clientes
            </button>
        </div>
        <div class="col-4 text-center d-grid">
            <button
                    class="text-center btn btn-primary btn-lg fw-bold"
                    onclick="window.location.href='/empleados/inicio'">
                Vista empleados
            </button>
        </div>
        <div class="col-4 text-center d-grid">
            <button
                    class="text-center btn btn-primary btn-lg fw-bold"
                    onclick="window.location.href='/reportes/verReporteReserva'">
                Vista Reporte
            </button>
        </div>

        <span class="col-2"></span>
    </section>

</main>

<style>
    .pantalla-completa-con-header {
    height: calc(100vh - 60px); /* 60px es la altura estimada del encabezado */
    background-color: lightgray; /* Puedes ajustar el color de fondo según tus necesidades */
    text-align: center;
    padding: 20px;
    }
    .contenedor-cristal {
    backdrop-filter: blur(10px); /* Cantidad de desenfoques */
    background-color: rgba(255, 255, 255, 0.2); /* opacidad*/
    padding: 20px;
    text-align: center;
}
</style>

</body>
</html>